{% extends 'template.html.twig' %}

{% block title %} Public | View Executables {% endblock %}
{% block content %}
    {{ dump(getExes) }}
{% for exes in getExes %}
    <div class="text-left border border-gray-700 pt-2 px-6 pb-6 mt-28">
        <h3 class="text-3xl text-center underline">{{ exes.getSnipExesTitle | capitalize }}</h3>
        <h4 class="text-2xl text-center">{{ exes.getSnipExesDesc }}</h4>
    </div>
    {% endfor %}
        <h4 class="text-4xl text-center">Executable Files</h4>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script src="scripts/copyCodeScript.js"></script>
<script src="../node_modules/flowbite/dist/flowbite.js"></script>
{% endblock %}
